.container {
    position: relative;
    isolation: isolate;
}

.container .container__content {
    width: min(var(--max-width), 100% - 40px);
    margin: 0 auto;
}

.container__content_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("/src/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
}
