.section {
    padding-block: var(--section-padding-s);
}

.section .section__header {
    margin-bottom: var(--section-padding-s);
}

.section .section__separator {
    padding-inline: 10px;
    margin-bottom: 20px;
}

.section .heading {
    font-weight: 400;
}

.section__header,
.section__text {
    grid-auto-flow: row;
}

.section__img {
    max-width: 100%;
    filter: var(--filter-drop-shadow);
}

.section__separator {
    text-transform: uppercase;
    font-weight: 700;
}

.section__text {
    gap: 15px;
}

.section:nth-child(odd).container {
    background-color: #F5F4F0;
}

.section:nth-child(odd) .section__subheading {
    color: var(--dark-50);
}

.section:nth-child(odd) .section__separator {
    color: var(--white);
    background-color: var(--brown);
}

.section:nth-child(even).container {
    color: var(--white);
    background-color: var(--brown);
}

.section:nth-child(even) .section__subheading {
    color: var(--white-50);
}

.section:nth-child(even) .section__separator {
    color: var(--brown);
    background-color: var(--white);
}


@media screen and (min-width: 768px) {
    .section {
        padding-block: var(--section-padding-m);
    }
    
    .section .section__header {
        margin-bottom: var(--section-padding-m);
    }
    
    .section__text {
        gap: 30px;
    }
}

@media screen and (min-width: 1110px) {
    .section {
        padding-block: var(--section-padding-l);
    }
    
    .section .section__header {
        margin-bottom: var(--section-padding-l);
    }

    .section__header {
        grid-template-columns: auto 1fr;
    }

    .section__text {
        grid-auto-flow: column;
    }
}